In [15]:
# Prepare data files for exercise. Predimed data does not include ID or location, we made that up to make the exercise work.
# This notebook also divides the data into records and mapping CSVs

In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('predimed.csv')

In [36]:
# adds a fictitious medical center / city
df['location-id'] = np.random.choice(range(1, 6), len(df))
df

,group,sex,age,smoke,bmi,waist,wth,htn,diab,hyperchol,famhist,hormo,p14,toevent,event,location-id
0,Control,Male,58,Former,33.53,122,0.753086,No,No,Yes,No,No,10,5.374401,Yes,3
1,Control,Male,77,Current,31.05,119,0.730061,Yes,Yes,No,No,No,10,6.097194,No,5
2,MedDiet + VOO,Female,72,Former,30.86,106,0.654321,No,Yes,No,Yes,No,8,5.946612,No,1
3,MedDiet + Nuts,Male,71,Former,27.68,118,0.694118,Yes,No,Yes,No,No,8,2.907598,Yes,2
4,MedDiet + VOO,Female,79,Never,35.94,129,0.806250,Yes,No,Yes,No,No,9,4.761123,No,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6319,Control,Female,66,Never,28.51,104,0.645963,Yes,No,Yes,Yes,No,8,3.550992,No,4
6320,Control,Male,80,Never,23.81,109,0.589189,Yes,Yes,Yes,Yes,No,8,2.743326,No,3
6321,MedDiet + Nuts,Male,57,Former,25.24,100,0.571429,Yes,No,Yes,No,NaN,7,0.479124,No,2
6322,MedDiet + VOO,Female,71,Never,32.04,98,0.653333,Yes,No,Yes,Yes,No,6,2.587269,No,3
6323,MedDiet + Nuts,Male,58,Former,24.43,93,0.547059,Yes,Yes,Yes,No,No,9,2.590007,No,1

In [23]:
# for each location we give a patient-id
df['tmp'] = df.sort_values('location-id').groupby('location-id')['age'].cumsum()
df['patient-id'] = df.sort_values('tmp').groupby('location-id')['tmp'].rank().astype(int)
del df['tmp']
df

,group,sex,age,smoke,bmi,waist,wth,htn,diab,hyperchol,famhist,hormo,p14,toevent,event,location-id,patient-id
0,Control,Male,58,Former,33.53,122,0.753086,No,No,Yes,No,No,10,5.374401,Yes,1,1
1,Control,Male,77,Current,31.05,119,0.730061,Yes,Yes,No,No,No,10,6.097194,No,2,1159
2,MedDiet + VOO,Female,72,Former,30.86,106,0.654321,No,Yes,No,Yes,No,8,5.946612,No,3,509
3,MedDiet + Nuts,Male,71,Former,27.68,118,0.694118,Yes,No,Yes,No,No,8,2.907598,Yes,4,855
4,MedDiet + VOO,Female,79,Never,35.94,129,0.806250,Yes,No,Yes,No,No,9,4.761123,No,3,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6319,Control,Female,66,Never,28.51,104,0.645963,Yes,No,Yes,Yes,No,8,3.550992,No,1,1140
6320,Control,Male,80,Never,23.81,109,0.589189,Yes,Yes,Yes,Yes,No,8,2.743326,No,4,859
6321,MedDiet + Nuts,Male,57,Former,25.24,100,0.571429,Yes,No,Yes,No,NaN,7,0.479124,No,1,1142
6322,MedDiet + VOO,Female,71,Never,32.04,98,0.653333,Yes,No,Yes,Yes,No,6,2.587269,No,2,661
6323,MedDiet + Nuts,Male,58,Former,24.43,93,0.547059,Yes,Yes,Yes,No,No,9,2.590007,No,3,865

In [24]:
df.to_csv('predimed_full.csv', index=False)
df

,group,sex,age,smoke,bmi,waist,wth,htn,diab,hyperchol,famhist,hormo,p14,toevent,event,location-id,patient-id
0,Control,Male,58,Former,33.53,122,0.753086,No,No,Yes,No,No,10,5.374401,Yes,1,1
1,Control,Male,77,Current,31.05,119,0.730061,Yes,Yes,No,No,No,10,6.097194,No,2,1159
2,MedDiet + VOO,Female,72,Former,30.86,106,0.654321,No,Yes,No,Yes,No,8,5.946612,No,3,509
3,MedDiet + Nuts,Male,71,Former,27.68,118,0.694118,Yes,No,Yes,No,No,8,2.907598,Yes,4,855
4,MedDiet + VOO,Female,79,Never,35.94,129,0.806250,Yes,No,Yes,No,No,9,4.761123,No,3,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6319,Control,Female,66,Never,28.51,104,0.645963,Yes,No,Yes,Yes,No,8,3.550992,No,1,1140
6320,Control,Male,80,Never,23.81,109,0.589189,Yes,Yes,Yes,Yes,No,8,2.743326,No,4,859
6321,MedDiet + Nuts,Male,57,Former,25.24,100,0.571429,Yes,No,Yes,No,NaN,7,0.479124,No,1,1142
6322,MedDiet + VOO,Female,71,Never,32.04,98,0.653333,Yes,No,Yes,Yes,No,6,2.587269,No,2,661
6323,MedDiet + Nuts,Male,58,Former,24.43,93,0.547059,Yes,Yes,Yes,No,No,9,2.590007,No,3,865

In [25]:
# separate into two datasets to be joined during the exercise
df1 = df[['patient-id', 'location-id', 'sex', 'age', 'bmi', 'waist', 'wth', 'htn', 'diab', 'hyperchol', 'famhist', 'hormo', 'p14', 'toevent', 'event']]

In [26]:
df1.iloc[np.random.permutation(len(df1))]

,patient-id,location-id,sex,age,bmi,waist,wth,htn,diab,hyperchol,famhist,hormo,p14,toevent,event
2142,536,1,Female,75,36.57,104,0.622755,Yes,No,Yes,Yes,No,7,2.414784,No
4346,1036,4,Male,62,26.64,89,0.523529,Yes,No,Yes,No,No,11,6.579055,No
236,990,4,Male,77,28.96,104,0.581006,Yes,No,Yes,No,No,10,2.617385,No
2272,146,5,Female,60,30.70,102,0.675497,Yes,Yes,Yes,Yes,No,8,5.965777,No
1915,429,1,Female,67,27.77,91,0.572327,Yes,No,No,Yes,No,11,2.997947,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,1031,5,Female,65,29.38,103,0.682119,No,Yes,Yes,No,No,9,6.943190,No
313,898,2,Male,63,33.26,110,0.650888,No,Yes,No,No,NaN,8,6.962355,No
1744,35,4,Female,70,30.30,97,0.638158,Yes,No,Yes,No,No,9,5.973990,No
4247,351,2,Female,62,23.81,72,0.452830,Yes,No,Yes,No,No,12,5.713894,No
1648,1137,3,Male,67,27.55,99,0.611111,Yes,Yes,Yes,Yes,NaN,12,2.663929,No

In [27]:
df1.to_csv('predimed_records.csv', index=False)

In [28]:
# second table contaings only information from which patient was assigned to which condition
df2 =  df[['location-id', 'patient-id', 'group']]
df2 = df2.sort_values(['location-id', 'patient-id'])
df2

      location-id  patient-id           group
0               1           1         Control
3862            1           2   MedDiet + VOO
1221            1           3         Control
3864            1           4   MedDiet + VOO
3868            1           5  MedDiet + Nuts
...           ...         ...             ...
2790            5        1299  MedDiet + Nuts
2791            5        1300  MedDiet + Nuts
2792            5        1301         Control
695             5        1302   MedDiet + VOO
4863            5        1303   MedDiet + VOO

[6324 rows x 3 columns]

In [29]:
# we purposedly remove 37 records at random, to make the merge not so boring
ids_to_keep = np.random.permutation(len(df1))[0:len(df2) - 37]
ids_to_keep

array([1566,  419, 1715, ..., 6014, 5230,   82])

In [30]:
df2.iloc[ids_to_keep].to_csv('predimed_mapping.csv', index=False)

In [31]:
# now we randomly select 42 patients to be outliers

In [32]:
outliers_indices = np.random.permutation(len(df1))[0:42]
outliers_indices

array([5995, 1318, 5066, 4626,  681, 6047, 3602, 2466,  621, 3957, 3138,
       2413, 5458, 1549, 3011, 5140, 5522, 2793, 4572, 5021, 2132,  257,
       4512, 3763, 2444, 3890,  151, 6168,  609, 2320, 4758, 2048,  104,
       2507, 5188, 4455,  592, 6322, 1921, 5782, 2411,  612])

In [33]:
df.iloc[outliers_indices][['location-id', 'patient-id']].to_csv('dropped.csv', index=False)